# Ignore everything inside these folders
Raw_Data/**
Processed_Data/**

# But keep the folders themselves
!Raw_Data/
!Processed_Data/

# Keep the placeholder files
!Raw_Data/.gitkeep
!Processed_Data/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Environment
.env

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log